{{>head}}


<body>
    {{>nav}}
    <!-- Header -->
    <header class="header header-inverse bg-fixed" style="background-image: url( {{imgBg}} )" data-overlay="8">
        <div class="container text-center">

            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">

                    <h1>{{group.name}}</h1>
                    <p class="fs-20 opacity-70">Join Us!</p>

                </div>
            </div>
     
        </div>
    </header>
    <!-- END Header -->

    <main class="main-content">
        <section class="section bb-1">
            <div class="container">
            
                <div class="row">
                    <div class="col-12 col-md-8">
                        <img src="{{group.imgUrl}}" style="height:auto; width:auto;" >
                    </div>
                    <div class="col-12 col-md-4">
                        <h1 >{{group.name}}</h1>
                        <div class="social social-boxed social-colored social-cycling">
                            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="social-tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                        </div>
                        <br />
                        {{#canJoin}}
                        <a href="/group/join-{{group.slug}}" class="btn btn-outline btn-success">Join</a>
                        {{/canJoin}}

                        {{#joinedGroup}}
                        <a href="/group/leaveGroup-{{group.slug}}" id="leaveBtn" class="btn btn-outline btn danger">Leave Group</a>
                        {{/joinedGroup}}

                        {{#canEdit}} 
                            <a class="btn btn-outline btn-warning" href="/event/create-{{group.slug}}" >New Event</a>
                        {{/canEdit}}
                        
                    </div>
                </div> 

                <hr>

                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <h5>Description</h5>
                        {{#description}}
                            <p>{{.}}</p>
                        {{/description}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <h5>Up Coming Meetings</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name:</th>
                                    <th>Date:</th>
                                    <th>Show:</th>
                                    {{#canEdit}}
                                    <th>Edit:</th>
                                    <th>Delete:</th>
                                    {{/canEdit}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#events}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{date}}</td>
                                    <td>
                                        <!-- <a href="/event/show-{{event_slug}}" class="btn btn-round btn-success">Show</a> --> 
                                        <button class="btn btn-round btn-success toggleModal" 
                                            data-toggle="modal" data-target="#showEventModal"
                                            data-jsonstr="{{JSONstr}}"
                                        >
                                            Show
                                        </button>
                                    </td>  
                                    {{#canEdit}}
                                    <td>
                                        <a href="/event/edit-{{event_slug}}" class="btn btn-round btn-warning">Edit</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-round btn-danger deleteEvent" 
                                            data-event="{{id}}"
                                        >
                                            Delete
                                        </button>
                                    </td>
                                    {{/canEdit}}
                                </tr>
                                {{/events}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            {{#canEdit}}
                {{>eventCreate}}
            {{/canEdit}}

            {{>eventShow}}

        </section>
    </main>

{{>footer}}