<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        
        <title>GroupMeet | Meet New Friends, Experience New Hobbies, Have Fun</title>
        <!-- Styles -->
        <link href="/dist/css/style.min.css" rel="stylesheet" type="text/css" > 
        <!-- GoogleMaps -->
        <!--
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNLsWzbB4Z3MfUQW50dKQ15kFKxtiAwAc"></script>
        -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNLsWzbB4Z3MfUQW50dKQ15kFKxtiAwAc&libraries=places"
            async defer>
        </script> 
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/dist/img/apple-touch-icon.png">
        <link rel="icon" href="/dist/img/favicon.png">
    </head>