<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>GroupMeet</title>

    <!-- Styles -->
    <link href="/dist/css/style.min.css" rel="stylesheet" type="text/css" > 
    <!-- <link href='/css/core.min.css' rel="stylesheet" >
    <link href='/css/thesaas.min.css' rel="stylesheet" >
    <link href='/css/style.css' rel="stylesheet" > -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/dist/img/apple-touch-icon.png">
    <link rel="icon" href="/dist/img/favicon.png">
  </head>

  <body>
    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">
        
        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="/">
            <img class="logo-default" src="/dist/img/logo.png" alt="logo">
            <img class="logo-inverse" src="/dist/img/logo-light.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            {{#vertexSession.user.notloggedIn}}
            <li class="nav-item"><a class="nav-link" href="/user/signup">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/signin">Sign In</a></li>
            {{/vertexSession.user.notloggedIn}}
            {{#vertexSession.user.loggedIn}}
            <li class="nav-item"><a class="nav-link" href="/user/signout">Sign Out</a></li>
            {{/vertexSession.user.loggedIn}}

            <li class="nav-item">
              <a class="nav-link" href="#">Doc <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu align-right">
                <a class="nav-link" href="doc-element.html">Elements</a>
                <a class="nav-link" href="doc-component.html">Components</a>
                <a class="nav-link" href="doc-section.html">Sections</a>
                <a class="nav-link" href="doc-card.html">Cards</a>
                <a class="nav-link" href="doc-typography.html">Typography</a>
                <a class="nav-link" href="doc-utility.html">Utility Classes</a>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->



    