{{>head}}


   
    <!-- Header -->
    <div class="swiper-container swiper-button-box no-padding">
      <div class="swiper-wrapper">

        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Slide 1
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <div class="swiper-slide">
          <header class="header header-inverse h-fullscreen p-0" style="background-image: url(https://lh3.googleusercontent.com/vEcs5VfFX2rwCZ2tnV-NUKZQV6KtBZl8xYwhYAnPyt5nsRgH69D_JPTeHXSclmLUfItmuV-RB5lv1bg2MwQW3OBu5M8);" data-overlay="8">
            <div class="container text-center">

              <div class="row h-full hidden-md-down">
                <div class="col-12 col-lg-8 offset-lg-2 align-self-center pt-150">
                  <h1 class="display-4">Group Meet</h1>
                  <br>
                  <p class="lead text-white fs-20">New Friends. Fun. and Rock and Roll</p>
                </div>
              </div>
            </div>
          </header>
        </div>
        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Slide 2
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <div class="swiper-slide">
          <header class="header header-inverse h-fullscreen p-0" 
                style="background-image: url(https://lh3.googleusercontent.com/dRAlF-tvHAX6LQMztYwC19zvPzIMPA9jbAmPXS55XEi6m1-c053-89HpTpUCXWn7dEozTBzDzafje9TU9F7pjBMC);" data-overlay="8">
            <div class="container">

              <div class="row h-full align-items-center">
                <div class="col-12 col-md-4 offset-md-1">
                  <h1>Find GroupMeet's that Vibe with You!</h1>
                  <p class="lead">Normcore ea tilde, stumptown lomo master cleanse unicorn iceland la croix put a bird on it vaporware. Squid jean shorts tousled blog blue bottle. Et try-hard man bun vegan bushwick before they sold out plaid non bicycle rights.</p>
                  <br>
                  <a class="btn btn-lg btn-round btn-white w-180" href="/user/signin">Sign In</a>
                </div>

              </div>

            </div>
          </header>
        </div>
        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Slide 3
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <div class="swiper-slide">
          <header class="header header-inverse h-fullscreen p-0" style="background-image: url(https://lh3.googleusercontent.com/gbtlJuhdnnCS8CZBJc1WTzkxCh0pVNakEPOoq-UsnmO8Fn-61CRV2vcX-H4wPBYFz_f1NW3pox1riEbdOXSJQX2-BQ);" data-overlay="8">
            <div class="container">

              <div class="row gap-y align-items-center h-full">
                <div class="col-12 col-md-5 text-center text-md-left">
                  <h2>What Are You Waiting For?</h2>
                  <p class="lead hidden-sm-down">Normcore ea tilde, stumptown lomo master cleanse unicorn iceland la croix put a bird on it vaporware. Squid jean shorts tousled blog blue bottle. Et try-hard man bun vegan bushwick before they sold out plaid non bicycle rights.</p>

                  <hr class="w-80 ml-md-0">

                  <a class="btn btn-lg btn-round btn-primary" href="/user/signin">Get Start Now</a>
                </div>
              </div>
            </div>
          </header>
        </div>

      </div>
      
      <div class="swiper-button-prev hidden-sm-down"></div>
      <div class="swiper-button-next hidden-sm-down"></div>
    </div>

    <!-- END Header -->
    <!-- Main container -->
    <main class="main-content">
      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | More Header
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section" id="section-intro">
        <div class="container">
          <header class="section-header">
            <h2>Categories</h2>
            <hr>
            <p class="lead">TheSaaS includes several header examples which can be use just by copy and paste the code</p>
          </header>


          <div class="row gap-y">
            
            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-color.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-color.jpg" alt="..."></p>
                <h6>Solid Color</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-gradient.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-gradient.jpg" alt="..."></p>
                <h6>Gradient</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-particle.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-particle.jpg" alt="..."></p>
                <h6>Particle</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-typing.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-typing.jpg" alt="..."></p>
                <h6>Typing Text</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-image.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-image.jpg" alt="..."></p>
                <h6>Background Image</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-video.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-video.jpg" alt="..."></p>
                <h6>Background Video</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-parallax.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-parallax.jpg" alt="..."></p>
                <h6>Parallax</h6>
              </a>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <a class="text-center" href="header-slider.html">
                <p><img class="shadow-2 hover-shadow-5" src="/dist/img/header-slider.jpg" alt="..."></p>
                <h6>Slider</h6>
              </a>
            </div>

          </div>


        </div>
      </section>






    </main>
    <!-- END Main container -->

{{>footer}}