<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body>
	<div id="root"></div>


	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
	<script type="text/javascript" src="/dist/bundle/commons.js"></script>
	<script type="text/javascript" src="/dist/bundle/app.js"></script> <!-- React code bundle -->
</body>
</html>