{{>headNoNav}}

<body class="mh-fullscreen bg-img center-vh p-20" style="background-image: url(https://lh3.googleusercontent.com/7LBQKRes6UZ4RuvwAaz3PxXZP1NnqzfrmUicyIFHVNFIyWHoI8rWKJNWIA49k_ZfsHHywy3dsQYiGzyDV2zmmzq6);">
        
        <div class="card card-shadowed p-50 w-400 mb-0" style="max-width: 100%">
        {{>alerts}}
        <h5 class="text-uppercase text-center">Login</h5>
        <br><br>
    
        <form action="/user/signin" method="POST" >
            <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="username" required autofocus >
            </div>
    
            <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required >
            </div>
    
            <div class="form-group flexbox py-10">
    
            <a class="text-muted hover-primary fs-13" href="#">Forgot password?</a>
            </div>
    
            <div class="form-group">
            <button class="btn btn-bold btn-block btn-primary" type="submit">Login</button>
            </div>
        </form>
    
        <div class="divider">Or Sign In With</div>
        <div class="text-center">
            <a class="btn btn-circular btn-sm btn-facebook mr-4" href="#"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-circular btn-sm btn-google mr-4" href="#"><i class="fa fa-google"></i></a>
            <a class="btn btn-circular btn-sm btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
        </div>
    
        <hr class="w-30">
    
        <p class="text-center text-muted fs-13 mt-20">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>

        <script src="/dist/js/vendor.min.js"></script>

    </body>
</html>