<div class="modal fade" id="showEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalEventName"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p id="modalEventDesc" >
                  </p>
                  Date: <span id="modalEventDate" ></span> <br />
                  Start Time:<span id="modalEventStartTime" ></span> <br />
                  End Time:<span id="modalEventEndTime" ></span> <br />
                  Address: <span id="modalEventAddress" ></span> <br />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>