{{>head}}
    <body class="thesaas-sections-split">
        {{>nav}}
         <header class="header header-inverse bg-fixed" style="background-image: url({{bgImg}})" data-overlay="8">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <h5>Search For Events</h5>
                    </div>
                </div>
            </div>
        </header>
        <!-- END Header -->
 
	    <div id="root"></div> 
	


	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
        <script type="text/javascript" src="/dist/js/vendorReact.min.js"></script>
        <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
        <script type="text/javascript" src="/dist/bundle/commons.js"></script>
        <script type="text/javascript" src="/dist/bundle/app.js"></script> <!-- React code bundle -->
    </body>
</html>